@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  /* Blue */
  --color-blue-100: #C7CEF9;
  --color-blue-200: #A2AEF5;
  --color-blue-300: #7C8EF1;
  --color-blue-400: #576FEE;
  --color-blue-500: #3250EA;
  --color-blue-600: #1839DE;
  --color-blue-700: #09165D;
  --color-header-bg: #8CD1F5;

  /* Black */
  --color-black: #000000;
  --color-icon-bg: #161616;
  /* White */
  --color-white: #FFFFFF;

  /* Breakpoints */

  --breakpoint-xs: 380px;     
  --breakpoint-sm: 576px;     
  --breakpoint-md: 768px;   
  --breakpoint-lg: 1024px; 
  --breakpoint-xl: 1280px; 
  --breakpoint-2xl: 1440px;   
  --breakpoint-3xl: 1536px;   
}
